<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Niranjan Jayakar" />
  
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
  
    <!-- Homepage CSS -->
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  
    <!-- Typekit -->
    <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body>
    <div class="site">
      <div class="title">
        <a href="/">Niranjan Jayakar</a>
        <a class="extra" href="/">home</a>
        <a class="extra" href="/about">about</a>
      </div>
    
      {{ content }}
    
      <div class="footer">
        <div class="contact">
          <p>
            Niranjan Jayakar
          </p>
        </div>
        <div class="contact">
          <p>
            <a href="https://github.com/nija-at/"><img src="/images/github-mark.png" width="20px"/></a>
            <a href="https://twitter.com/nija_at/"><img src="/images/twitter-social.png" width="20px"/></a>
            <a href="https://www.linkedin.com/in/nija-at/"><img src="/images/linkedin-bug.png" width="20px"/></a>
          </p>
        </div>
        <!-- div class="rss">
          <a href="http://feeds.feedburner.com/tom-preston-werner">
            <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
          </a>
        </div-->
      </div>
    </div>
  </body>
</html>
